@font-face {
  font-family: 'Canterbury';
  src: url('/fonts/CanterburyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.canterbury {
  font-family: 'Canterbury', serif;
}
